html {
    box-sizing: border-box;
    font-size: 70%;}

body {
    background-color: #59a8f7;}

.container {
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    align-items: center;}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;}

.logo_pic {
    width: 50%;
    height: 50%; }

.h4_text {
    font-weight: normal;
    font-size: 2rem;
    letter-spacing: 2em;
    color: #ffffff;
    margin-right: -6%;}

.box {
    display: flex;
    flex-direction: column;
    gap: 2rem;}

.box-btn { 
    width: 24.4rem;
    height: 4.8rem;
    border-radius: 1rem;
    background-color: #59a8f7;
    border: #ffffff solid 0.1rem;}

.box-btn:link, .box-btn:visited {
    transform: translateY(0);
    transition: all 0.2s; }

.box-btn:hover, .box-btn:active {
    background-color: #ffffff;
    color: #59a8f7;
    transform: translateY(-3px); }

.box_item {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center; }
.box_item:link, .box_item:visited {
    color: #ffffff;
    text-decoration: none;}
.box_item:hover, .box_item:active {
    color: #59a8f7;}
    